.agent-client {
    background-color: #f6f6f8;
    display: flex;
    justify-content: center;
    align-items: center;

    .client-left {
        height: 100%;
        flex: 0.8;
        .client-left-header,.client-left-content,.client-left-footer {
            width: 100%;
        }
    }

    .client-right {
        height: 98%;
        flex: 4.2;
        background-color: #ffffff;
        border-radius: 8px;
        margin: 1vh 1vw;
    }
}